</div></div>
<footer class="footer">
    <div class="footer-top-wrapper">
      <img src="{{ base_url }}assets/img/footer/tape.png" alt="" class="tape-overlay">
      <div class="footer-top">
        <div class="footer-section main">
          <img class="footer-logo" src="{{ base_url }}assets/img/logo/logo_wit.png" alt="logo">
          <div class="footer_tekstcontainer">
            <p class="footer_tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla,
              accusamus! Facilis culpa excepturi commodi, accusantium laborum voluptas vero quas autem
              aliquam suscipit ipsum esse explicabo, veniam nihil eos eum eligendi.</p>
          </div>
          <a href="#" class="read-more">Lees Meer</a>
        </div>
        <div class="footer-section">
          <div class="footer-heading">
            <h2 class="footer-heading">NAVIGEER</h2>
          </div>
          <ul>
            <li class="list_item">Werken bij</li>
            <li class="list_item">Veelgestelde vragen</li>
            <li class="list_item">Vestigingen</li>
            <li class="list_item">Contact</li>
          </ul>
        </div>
        <div class="footer-section">
          <div class="footer-heading">
            <h2 class="footer-heading">VOLG ONS</h2>
          </div>
          <ul class="icons">
            <li class="icon"><a href="#"><img src="{{ base_url }}assets/icons/facebook.png" alt=""></a></li>
            <li class="icon"><a href="#"><img src="{{ base_url }}assets/icons/twitter.png" alt=""></a></li>
            <li class="icon"><a href="#"><img src="{{ base_url }}assets/icons/instagram.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="legal-row-container">
      <div class="legal-row">
        <a href="#">Voorwaarden</a> | <a href="#">Privacybeleid</a> | <a href="#">Cookie Disclaimer</a>
      </div>
    </div>
  </footer>
  {{# js}}
  <script src="{{ base_url }}assets/js/{{.}}"></script>
  {{/ js}}
  <script src="{{ base_url }}assets/js/app.js"></script>
  </body>
  
  </html>
  