<main class="">
  <div class="hero">
    <div class="hero-text-container">
      <h2>LOCATIES</h2>
      <p class="hero-text">Alle locaties/vestegingen van AnnexBios</p>
    </div>
    <a href="{{ base_url }}vestegingen/toevoegen" class="hero-view-locations">
      VOEG NIEUWE TOE
    </a>
  </div>
  <div class="locations">
    {{# locations}}
    <div class="location">
      <div class="location-info">
        <h2 class="location-name">{{ city }}</h2>
        <p class="location-address">~ {{ address }}</p>
        <a href="{{ website_link }}" class="location-button">Bezoek Website</a>
        <a href="{{ base_url }}vestegingen/wijzig/{{ location_id }}" class="location-button">Wijzig Vesteging</a>
        <a href="{{ base_url }}vestegingen/verwijder/{{ location_id }}" class="location-button red">Verwijder
          Vesteging</a>
      </div>
    </div>
    {{/ locations}}
  </div>
</main>
