<main class="">
  <div class="hero">
    <div class="hero-text-container">
      <h2>NIEUWE FILM</h2>
      <p class="hero-text">Voeg een film toe</p>
    </div>
  </div>
  <div class="movies_add">
    <form id="movies_form" action="{{ base_url }}cms/films/toevoegen" method="post">
      <label for="imdb_id">IMDB Id</label>
      <input type="text" name="imdb_id" id="imdb_id">
      <label for="min_price">Minimale prijs tickets</label>
      <input type="number" name="min_price" id="min_price">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      <input type="submit" value="toevoegen">
    </form>
  </div>
</main>

<div class="movies-loading-screen">
  <div class="loader"></div>
</div>

<div class="movies-pop-up">
  <div class="movies-pop-up-modal">
    <h2 class="hero-text-alert"></h2>
  </div>
</div>
