<main>
  <div class="hero">
    <h1 class="hero-header">Gebruiker: {{ username }}</h1>
  </div>
  <div id="edit-user-form-container">
    <form action="{{ base_url }}cms/gebruikers/wijzig" method="post">
      <input type="hidden" name="id" value="{{ id }}">

      <div>
        <input type="text" name="username" id="username" placeholder="Gebruikersnaam" autocomplete="off"
          value="{{ username }}">
        <p id="username-error" class="error">{{ username_error }}</p>
      </div>
      <div>
        <div class="password-input-container">
          <input type="text" name="password" id="password" placeholder="Wachtwoord" />
          <button onclick="generateRandomPassword(this)" aria-label="Generate Random Password"
            class="random-password-button" type="button">
            <img src="{{ base_url }}assets/icons/dice.svg" alt="Dice Icon" />
          </button>
        </div>
        <p id="password-error" class="error">{{ password_error }}</p>
      </div>

      <div class="permissions-container">
        {{# activated_permissions}}
        <label class="permission-label" for="{{ id }}">
          <input type="checkbox" name="permissions[]" id="{{ id }}" class="permission-checkbox" value="{{ id }}"
            {{ checked }}>
          {{ title }}
        </label>
        {{/ activated_permissions}}
      </div>
      <p class="error" id="permissions-error">{{ permissions_error }}</p>
      <button type="submit" class="submit-btn" id="add-user-submit" name="add-user-submit">
        Toevoegen
      </button>
    </form>
  </div>
</main>
