<main class="">
  <div class="hero">
    <div class="hero-text-container">
      <h2>CMS</h2>
      <p class="hero-text">CMS van AnnexBios</p>
    </div>
    <a href="{{ base_url }}cms/films" class="hero-view-locations">
      Filmgegevens
    </a>
    <a href="{{ base_url }}cms/filmladder" class="hero-view-locations">
      Filmladder
    </a>
    <a href="{{ base_url }}cms/vestigingen" class="hero-view-locations">
      Vestigingen
    </a>
    <a href="{{ base_url }}cms/gebruikers" class="hero-view-locations">
      Gebruikers
    </a>
  </div>
</main>
