<main class="">
  <div class="hero">
    <div class="hero-text-container">
      <h2>FILMS</h2>
      <p class="hero-text">Alle films in de AnnexBios Database</p>
    </div>
    <a href="{{ base_url }}cms/films/toevoegen" class="hero-view-movie">
      VOEG NIEUWE TOE
    </a>
  </div>
  <div class="movies">
    {{# movies}}
    <div class="movie">
      <div class="movie-info">
        <h2 class="movie-title">{{ title }}</h2>
        <p class="movie-imdb-id">{{ imdb_id }}</p>
        <a href="{{ base_url }}cms/films/verwijder/{{ database_id }}" class="movie-button red">Verwijder
          Film</a>
      </div>
    </div>
    {{/ movies}}
  </div>
</main>
