<main class="">
  <div class="hero">
    <div class="hero-text-container">
      <h2>FILMLADDER</h2>
      <p class="hero-text">Alle films die binnenkort spelen</p>
    </div>
    <a href="{{ base_url }}cms/filmladder/toevoegen" class="hero-view-locations">
      VOEG NIEUWE TOE
    </a>
  </div>
  <div class="playing-movies-container">
    <div class="playing-movies">
      {{# currently_playing}}
      <div class="playing-movie">
        <div class="rm-img-container"><img class="rm-img" src="{{ image }}" alt=""></div>
        <div class="rm-details">
          <div class="rm-title-container">
            <h3 class="rm-title">{{ title }}</h3>
          </div>
          <div class="rm-rating">
            <div class="stars empty">
              {{# stars}}
              <svg xmlns="http://www.w3.org/2000/svg" width="24.262" height="23.264" viewBox="0 0 24.262 23.264"
                class="star empty">
                <path data-name="Path 87"
                  d="M15.628,8.025l7.823,1.364-5.837,5.383,1.124,7.847L11.8,18.742,4.671,22.235l1.579-7.8L.7,8.743,8.595,7.81,12.327.8Z"
                  transform="translate(0.049 -0.007)" fill="#fff" stroke="#666" stroke-width="0.703" />
              </svg>
              {{/ stars}}
            </div>
            <div class="stars filled" data-rating="{{ rating }}">
              {{# stars}}
              <svg xmlns="http://www.w3.org/2000/svg" width="24.262" height="23.264" viewBox="0 0 24.262 23.264"
                class="star filled">
                <path data-name="Path 86"
                  d="M15.628,8.025l7.823,1.364-5.837,5.383,1.124,7.847L11.8,18.742,4.671,22.235l1.579-7.8L.7,8.743,8.595,7.81,12.327.8Z"
                  transform="translate(0.049 -0.007)" fill="#666" stroke="#666" stroke-width="0.703" />
              </svg>
              {{/ stars}}
            </div>
          </div>
          <div class="rm-play-time">
            <p>speelt op</p><span>{{ play_time }}</span>
          </div>
          <div class="rm-places-available">
            <p>beschikbare plekken</p><span>{{ place_data_count }}</span>
          </div>
        </div>
        <div class="rm-cms">
          <a href="{{ base_url }}cms/filmladder/wijzig/{{ location_movie_id }}" class="rm-edit">BEWERK</a>
          <a href="{{ base_url }}cms/filmladder/verwijder/{{ location_movie_id }}" class="rm-delete red">VERWIJDER</a>
        </div>
      </div>
      {{/ currently_playing}}
    </div>
  </div>
</main>
