<main>
  <div class="hero">
    <h1 class="hero-header">Nieuws</h1>
  </div>
  <div class="news-crud-wrapper">
    <form
      action="{{ current_url }}"
      id="news-form"
      method="POST"
      enctype="multipart/form-data"
    >
      <h2 class="news-crud-header">Nieuws toevoegen</h2>
      <div class="form-group">
        <label for="news_title">Titel</label>
        <div>
          <input
            type="text"
            name="news_title"
            id="news_title"
            class="form-control"
            required
          />
          <p class="error" id="title-error"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="news_content">Bericht</label>
        <div>
          <textarea
            name="news_content"
            id="news_content"
            class="form-control"
          ></textarea>
          <p class="error" id="content-error"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="image_url"
          >Afbeelding (aanbevolen dimensies: 800x200px)
        </label>
        <label for="image_url" class="image-preview">
          <img
            src="{{ base_url }}assets/icons/plus.svg"
            alt="+"
            class="image-preview-img"
          />
        </label>
        <input
          type="file"
          name="image_url"
          id="image_url"
          class="form-control"
          required
          accept="image/png,image/jpg,image/jpeg"
        />
        <p class="error" id="image-error"></p>
      </div>
      <input
        type="submit"
        value="Toevoegen"
        name="add_news"
        class="form-submit"
        id="news-submit-btn"
        disabled
      />
    </form>
    <div class="table-container">
      <table class="users-table" id="users-table">
        <thead>
          <tr>
            <th>Titel</th>
            <th>Afbeelding</th>
            <th>Bericht</th>
            <th>Acties</th>
          </tr>
        </thead>
        <tbody>
          {{# news}}
          <tr>
            <td><span class="news-title">{{news_title}}</span></td>
            <td class="news-image-container">
              <img
                src="{{ base_url }}assets/img/news/{{image_url}}"
                alt="{{news_title}}"
                class="news-image"
              />
            </td>
            <td><span class="news-content">{{news_content}}</span></td>
            <td>
              <button
                onclick="editNews(this)"
                data-title="{{ news_title }}"
                data-id="{{ id }}"
                data-content="{{ news_content }}"
                data-image="{{ image_url }}"
              >
                Bewerken
              </button>
              <button
                onclick="deleteNews(this)"
                data-title="{{ news_title }}"
                data-id="{{ id }}"
              >
                Verwijderen
              </button>
            </td>
          </tr>
          {{/ news}}
        </tbody>
      </table>
      <form action="{{ current_url }}" name="edit-news-form" id="edit-news-form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="edit-news-id" id="edit-news-id" />
      </form>
    </div>
  </div>
</main>
<div class="delete-news-form-wrapper">
  <form action="{{ current_url }}" id="delete-news-form" method="post">
    <input type="hidden" name="delete-news-id" id="delete-news" />
    <h3>
      Weet je zeker dat je dit nieuwsbericht (<span class="title-confirm"></span
      >) wilt verwijderen?
    </h3>
    <p>Deze actie kan niet ongedaan worden gemaakt.</p>
    <div class="delete-news-btns">
      <button
        class="cancel form-btn"
        onclick="cancelDelete(this)"
        aria-label="Cancel Deletion"
        type="button"
      >
        Annuleer
      </button>
      <label for="delete-news-submit" class="confirm form-btn">
        Verwijder
      </label>
    </div>
    <input
      type="submit"
      id="delete-news-submit"
      name="delete-news-submit"
      aria-label="Confirm Deletion"
    />
  </form>
</div>
