<main>
  <div class="hero">
    <h1 class="hero-header">Nieuws</h1>
  </div>
  <div class="news-crud-wrapper">
    <form action="{{ current_url }}" id="news-form" method="POST" enctype="multipart/form-data">
      <h2 class="news-crud-header">Nieuws toevoegen</h2>
      <div class="form-group">
        <label for="news_title">Titel</label>
        <input type="text" name="news_title" id="news_title" class="form-control" required>
      </div>
      <div class="form-group
      ">
        <label for="news_content">Bericht</label>
        <textarea name="news_content" id="news_content" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="image_url">Afbeelding</label>
        <input type="file" name="image_url" id="image_url" class="form-control" required>
      </div>
      <input type="submit" value="Toevoegen" name="add_news">
    </form>
    <div class="table-container">
        <table class="users-table" id="users-table">
          <thead>
            <tr>
              <th>Titel</th>
              <th>Afbeelding</th>
              <th>Bericht</th>
              <th>Acties</th>
            </tr>
          </thead>
          <tbody>
            {{# news}}
            <tr>
              <td>{{news_title}}</td>
              <td><img src="{{ base_url }}assets/img/news/{{image_url}}" alt="{{news_title}}" class="news-image"></td>
              <td>{{news_content}}</td>
              <td>
                <button onclick="" data-title="{{ news_title }}">Bewerken</button>
                <button onclick="deleteNews(this)" data-title="{{ news_title }}" data-id="{{ id }}">Verwijderen</button>
              </td>
            </tr>
            {{/ news}}
          </tbody>
        </table>
      </div>
  </div>
</main>
<div class="delete-news-form-wrapper">
  <form action="{{ current_url }}" id="delete-news-form" method="post">
    <input type="hidden" name="delete-news-id" id="delete-news" />
    <h3>
      Weet je zeker dat je dit nieuwsbericht (<span class="title-confirm"></span
      >) wilt verwijderen?
    </h3>
    <p>Deze actie kan niet ongedaan worden gemaakt.</p>
    <div class="delete-news-btns">
      <button
        class="cancel form-btn"
        onclick="cancelDelete(this)"
        aria-label="Cancel Deletion"
        type="button"
      >
        Annuleer
      </button>
      <label for="delete-news-submit" class="confirm form-btn">
        Verwijder
      </label>
    </div>
    <input
      type="submit"
      id="delete-news-submit"
      name="delete-news-submit"
      aria-label="Confirm Deletion"
    />
  </form>
</div>