<main>
  <div class="hero">
    <h1 class="hero-header">Gebruikers</h1>
    <a class="add-user-btn" href="#new-user-form-container">
      Gebruiker toevoegen
    </a>
  </div>
  <div>
    <h2 class="existing-users-header">Bestaande Gebruikers</h2>
    <div class="table-container">
      <table class="users-table" id="users-table">
        <thead>
          <tr>
            <th>Gebruikersnaam</th>
            <th>Permissies</th>
            <th>Laatste Login</th>
            <th>Acties</th>
          </tr>
        </thead>
        <tbody>
          {{# users}}
          <tr>
            <td>{{ username }}</td>
            <td>
              {{# permissions}}
              <span class="permission">{{ . }}</span>
              {{/ permissions}}
            </td>
            <td>{{ last_login }}</td>
            <td>
              <button
                class="edit-user-btn"
                onclick="editUser(this)"
                data-id="{{ id }}"
                data-username="{{ username }}"
              >
                <img
                  src="{{ base_url }}assets/icons/pencil.svg"
                  alt="Edit Icon"
                />
              </button>
              <button
                class="delete-user-btn"
                onclick="deleteUser(this)"
                data-id="{{ id }}"
                data-username="{{ username }}"
              >
                <img src="{{ base_url }}assets/icons/x.svg" alt="Delete Icon" />
              </button>
            </td>
          </tr>
          {{/ users}}
        </tbody>
      </table>
    </div>
  </div>
  <div id="new-user-form-container">
    <h2>Gebruiker Toevoegen</h2>
    <form action="{{ current_url }}" method="post" class="new-user-form">
      <div>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Gebruikersnaam"
          autocomplete="off"
        />
        <p id="username-error" class="error">{{ username_error }}</p>
      </div>
      <div>
        <div class="password-input-container">
          <input
            type="text"
            name="password"
            id="password"
            placeholder="Wachtwoord"
          />
          <button
            onclick="generateRandomPassword(this)"
            aria-label="Generate Random Password"
            class="random-password-button"
            type="button"
          >
            <img src="{{ base_url }}assets/icons/dice.svg" alt="Dice Icon" />
          </button>
        </div>
        <p id="password-error" class="error">{{ password_error }}</p>
      </div>
      <div class="permissions-wrapper">
        <div>
          <h3>Permissies</h3>
          <small
            ><em
              >Selecteer de pagina's waar de medewerker toegang tot moet
              hebben.</em
            ></small
          >
        </div>
        <div>
          <div class="permissions-container">
            {{# available_perms}}
            <label class="permission-label" for="{{ id }}">
              <input
                type="checkbox"
                name="permissions[]"
                id="{{ id }}"
                class="permission-checkbox"
                value="{{ id }}"
              />
              {{ title }}
            </label>
            {{/ available_perms}}
          </div>
          <p class="error" id="permissions-error">{{ permissions_error }}</p>
        </div>
      </div>
      <button
        type="submit"
        class="submit-btn"
        id="add-user-submit"
        name="add-user-submit"
      >
        Toevoegen
      </button>
    </form>
  </div>
</main>
<div class="delete-user-form-wrapper">
  <form action="{{ current_url }}" id="delete-user-form" method="post">
    <input type="hidden" name="delete-user-id" id="delete-user" />
    <h3>
      Weet je zeker dat je deze gebruiker (<span class="username-confirm"></span
      >) wilt verwijderen?
    </h3>
    <p>Deze actie kan niet ongedaan worden gemaakt.</p>
    <div class="delete-user-btns">
      <button
        class="cancel form-btn"
        onclick="cancelDelete(this)"
        aria-label="Cancel Deletion"
        type="button"
      >
        Annuleer
      </button>
      <label for="delete-user-submit" class="confirm form-btn">
        Verwijder
      </label>
    </div>
    <input
      type="submit"
      id="delete-user-submit"
      name="delete-user-submit"
      aria-label="Confirm Deletion"
    />
  </form>
</div>
{{# add_user_success}}
<div class="add-user-success-modal-wrapper">
  <div class="add-user-success-modal">
    <h3>Gebruiker Toegevoegd</h3>
    <p>
      De gebruiker is succesvol toegevoegd aan het systeem. De gebruiker kan nu
      inloggen met deze gegevens:
    </p>
    <div class="entered-wrapper">
      <p>
        <strong>Gebruikersnaam:</strong>
      </p>
      <div class="entered-container">
        <code class="username entered"> {{ entered_username }} </code>
        <button onclick="copyToClipboard(this)" aria-label="Copy Username" class="copy-entered">
          <img src="{{ base_url }}assets/icons/copy.svg" alt="Copy Icon" class="copy-icon" />
          <img src="{{ base_url }}assets/icons/check.svg" alt="Check Icon" class="check-icon hidden" />
        </button>
      </div>
    </div>
    <div class="entered-wrapper">
      <p>
        <strong>Wachtwoord:</strong>
      </p>
      <div class="entered-container">
        <code class="password entered"> {{ entered_password }} </code>
        <button onclick="copyToClipboard(this)" aria-label="Copy Password" class="copy-entered">
          <img src="{{ base_url }}assets/icons/copy.svg" alt="Copy Icon" class="copy-icon" />
          <img src="{{ base_url }}assets/icons/check.svg" alt="Check Icon" class="check-icon hidden" />
        </button>
      </div>
    </div>
    <a
      class="close-modal-btn"
      href="{{ current_url }}"
      aria-label="Close Modal"
    >
      Sluiten
    </a>
  </div>
</div>
{{/ add_user_success}}
