<main>
  <div class="hero">
    <h1 class="hero-header">Gebruikers</h1>
    <button onclick="addUser()" class="add-user-btn">
      Gebruiker toevoegen
    </button>
  </div>
  <div>
    <h2>Bestaande Gebruikers</h2>
    <div class="table-container">
      <table class="users-table" id="users-table">
        <thead>
          <tr>
            <th>Gebruikersnaam</th>
            <th>Permissies</th>
            <th>Laatste Login</th>
            <th>Acties</th>
          </tr>
        </thead>
        <tbody>
          {{# users}}
          <tr>
            <td>{{ username }}</td>
            <td>test</td>
            <td>{{ last_login }}</td>
            <td>tests</td>
          </tr>
          {{/ users}}
        </tbody>
      </table>
    </div>
  </div>
  <div id="new-user-form">
    <h2>Gebruiker Toevoegen</h2>
    <form action="" method="post">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Gebruikersnaam"
      />
      <div class="password-input-container">
        <input
          type="text"
          name="password"
          id="password"
          placeholder="Wachtwoord"
        />
        <button
          onclick="generateRandomPassword(this)"
          aria-label="Generate Random Password"
          class="random-password-button"
          type="button"
        >
          <img src="{{ base_url }}assets/icons/dice.svg" alt="Dice Icon" />
        </button>
      </div>
      <div class="permissions-wrapper">
        <div>
            <h3>Permissies</h3>
            <small><em>Selecteer de pagina's waar de gebruiker toegang tot moet hebben.</em></small>
        </div>
        <div class="permissions-container">
          {{# available_perms}}
          <label class="permission-label" for="{{ . }}">
            <input type="checkbox" name="{{ . }}" id="{{ . }}" class="permission-checkbox" />
            {{ . }}
          </label>
          {{/ available_perms}}
        </div>
      </div>
    </form>
  </div>
</main>
