$tabletBreakpoint: 820px;
$navbarHeight: 125px;
$lowerNavbarHeight: 75px;
$headerGap: 2rem;

$xlFont: clamp(2rem, 3vw, 3rem);

@mixin skeletonLoader {
  background: linear-gradient(90deg,
      hsl(210, 15%, 88%),
      hsl(210, 15%, 95%),
      hsl(210, 15%, 88%));
  background-size: 200%;
  animation: loader 1s infinite reverse;
}

@mixin grid-layout($gap: 1rem, $column-count: 2, $min-width: 300px) {
  --grid-layout-gap: #{$gap};
  --grid-column-count: #{$column-count}; /* This can be overridden by inline style */
  --grid-item--min-width: #{$min-width}; /* This can be overridden by inline style */

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}

@mixin sectionHeader {
  font-size: $xlFont;
  color: white;
  text-transform: uppercase;
}

@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes pulseStars {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}
