#news-form {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .error {
    color: red;
  }
  .image-preview {
    width: 200px;
    height: 200px;
    border: 1px solid #b4b4b4;
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #727272;
    padding: .5rem;
    cursor: pointer;
    background: #f5f5f5;
    .image-preview-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .news-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    input[type="text"],
    textarea {
      outline: 1px solid #b4b4b4;
      border-radius: 0.2rem;
      width: 100%;
      border: none;
      padding: 10px;
      font-size: inherit;
      height: 44px;
      &:focus {
        outline: 2px solid #303030;
        animation: glowingOutline 1s infinite;
      }
    }
    textarea {
      resize: vertical;
      height: 200px;
    }
  }
  .form-submit {
    color: white;
    border: none;
    padding: 10px;
    font-size: inherit;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.2rem;
    transition: background-color 0.2s;
    height: 44px;
    background-color: #303030;
    &:disabled {
      background-color: #b4b4b4;
      cursor: not-allowed;
    }
  }
}

.news-crud-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.users-table {
  .news-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
}

#delete-news-form {
  background-color: white;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .form-btn {
    // width: 50px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    &.cancel {
      background-color: #dfdfdf;
      color: black;
      border: none;
      cursor: pointer;
      border-radius: 0.3rem;
    }
    &.confirm {
      background-color: #aa2525;
      color: white;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
    }
  }
  .delete-news-btns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  #delete-news-submit {
    display: none;
  }
}
.delete-news-form-wrapper {
  display: none;
  z-index: 1002;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  &:has(#delete-news-form.active) {
    display: flex;
  }
}

@keyframes glowingOutline {
  0% {
    outline-color: #303030;
  }

  50% {
    outline-color: #727272;
  }

  100% {
    outline-color: #303030;
  }
}
