@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes pulseStars {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}
@layer base {
  .add-user-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;
    border: none;
    font-size: inherit;
    cursor: pointer;
  }
  .existing-users-header {
    color: white;
    margin-bottom: 1rem;
  }
  .add-user-success-modal-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
  }
  .add-user-success-modal-wrapper .entered-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .add-user-success-modal-wrapper .copy-entered {
    background-color: transparent;
    border: none;
  }
  .add-user-success-modal-wrapper .copy-icon.hidden,
  .add-user-success-modal-wrapper .check-icon.hidden {
    display: none;
  }
  .add-user-success-modal-wrapper .entered-container {
    padding: 0.4rem;
    background-color: #eee;
    display: flex;
    gap: 0.6rem;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    border-radius: 0.3rem;
    border: 1px solid #d5d5d5;
  }
  .add-user-success-modal-wrapper .add-user-success-modal {
    background-color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .add-user-success-modal-wrapper .add-user-success-modal .close-modal-btn {
    align-self: flex-end;
    background-color: #303030;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  .users-table {
    background-color: white;
    width: 100%;
  }
  .users-table th,
  .users-table td {
    text-align: left;
    padding: 0.7rem 1rem;
  }
  .users-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .users-table .edit-user-td {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .users-table .edit-user-td .edit-user-btn,
  .users-table .edit-user-td .delete-user-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 25px;
    aspect-ratio: 1;
    padding: 3px;
    background-color: #f0f0f0;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    cursor: pointer;
  }
  .users-table .edit-user-td .edit-user-btn:hover,
  .users-table .edit-user-td .delete-user-btn:hover {
    background-color: #e0e0e0;
  }
  .table-container {
    overflow-x: auto;
  }
  #new-user-form-container,
  #edit-user-form-container {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    gap: 1rem;
  }
  #new-user-form-container#edit-user-form-container,
  #edit-user-form-container#edit-user-form-container {
    gap: 2rem;
  }
  #new-user-form-container .submit-btn,
  #edit-user-form-container .submit-btn {
    background-color: #303030;
    color: white;
    border: none;
    padding: 10px;
    font-size: inherit;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0.2rem;
    transition: background-color 0.2s;
    grid-column: 1/-1;
  }
  #new-user-form-container .submit-btn:hover,
  #edit-user-form-container .submit-btn:hover {
    background-color: #454545;
  }
  #new-user-form-container .submit-btn:disabled,
  #edit-user-form-container .submit-btn:disabled {
    background-color: #b4b4b4;
    cursor: not-allowed;
  }
  #new-user-form-container form,
  #edit-user-form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  #new-user-form-container form.edit-user-input-form,
  #edit-user-form-container form.edit-user-input-form {
    display: flex;
    flex-direction: column;
  }
  #new-user-form-container form .error,
  #edit-user-form-container form .error {
    margin-top: 0.5rem;
    color: red;
    font-size: 0.8rem;
  }
  #new-user-form-container form > *,
  #edit-user-form-container form > * {
    min-width: 0;
  }
  #new-user-form-container input,
  #new-user-form-container button,
  #edit-user-form-container input,
  #edit-user-form-container button {
    border: none;
    padding: 10px;
    font-size: inherit;
    height: 44px;
  }
  #new-user-form-container input,
  #edit-user-form-container input {
    outline: 1px solid #b4b4b4;
    border-radius: 0.2rem;
    width: 100%;
  }
  #new-user-form-container input:focus,
  #edit-user-form-container input:focus {
    outline: 2px solid #303030;
    animation: glowingOutline 1s infinite;
  }
  #new-user-form-container .password-input-container,
  #edit-user-form-container .password-input-container {
    display: flex;
    border-radius: 0.2rem;
    overflow: hidden;
    background-color: white;
    max-width: 100%;
    outline: 1px solid #b4b4b4;
  }
  #new-user-form-container .password-input-container input,
  #edit-user-form-container .password-input-container input {
    border-radius: 0;
    width: 100%;
  }
  #new-user-form-container .password-input-container input:focus,
  #edit-user-form-container .password-input-container input:focus {
    outline: none;
  }
  #new-user-form-container .password-input-container:has(input:focus),
  #edit-user-form-container .password-input-container:has(input:focus) {
    animation: glowingOutline 1s infinite;
    outline: 2px solid #303030;
  }
  #new-user-form-container .password-input-container button,
  #edit-user-form-container .password-input-container button {
    aspect-ratio: 1/1;
  }
  #new-user-form-container .permissions-wrapper,
  #edit-user-form-container .permissions-wrapper {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #new-user-form-container .permissions-container,
  #edit-user-form-container .permissions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  #new-user-form-container .permissions-container .permission-label,
  #edit-user-form-container .permissions-container .permission-label {
    padding: 0.5rem;
    border-radius: 100px;
    background-color: #f2f2f2;
    transition: background-color 0.2s, border 0.2s;
    border: 2px solid rgb(218, 218, 218);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  #new-user-form-container .permissions-container .permission-label:has(input:checked),
  #edit-user-form-container .permissions-container .permission-label:has(input:checked) {
    background-color: rgba(170, 37, 37, 0.5);
    border-color: #aa2525;
  }
  #new-user-form-container .permissions-container .permission-label .permission-checkbox,
  #edit-user-form-container .permissions-container .permission-label .permission-checkbox {
    display: none;
  }
  #delete-user-form {
    background-color: white;
    padding: 1rem;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #delete-user-form .form-btn {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
  }
  #delete-user-form .form-btn.cancel {
    background-color: #dfdfdf;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  #delete-user-form .form-btn.confirm {
    background-color: #aa2525;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  #delete-user-form .delete-user-btns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  #delete-user-form #delete-user-submit {
    display: none;
  }
  .delete-user-form-wrapper {
    display: none;
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .delete-user-form-wrapper:has(#delete-user-form.active) {
    display: flex;
  }
}
@layer containerQueries {
  @container (max-width: 500px) {
    .new-user-form {
      grid-template-columns: 1fr;
    }
  }
}
@keyframes glowingOutline {
  0% {
    outline-color: #303030;
  }
  50% {
    outline-color: #727272;
  }
  100% {
    outline-color: #303030;
  }
}/*# sourceMappingURL=users.css.map */